.flex_delivery_online_order {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  position: relative;

  @media (max-width: 1920px) {
    overflow: hidden;
  }

  .online_order_heading {
    width: clamp(250px, 80vw, 1214px);
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(22px, 4vw, 64px);
    line-height: clamp(32px, 4vw, 78px);
    text-align: center;
    letter-spacing: 0.01em;
    color: #5f26d9;
    margin-bottom: 68px;

    @media (max-width: 992px) {
      margin-bottom: 36px;
    }
  }

  .delivery_flex_box {
    width: 960px;
    height: 785px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: -45px;

    @media (max-width: 992px) {
      width: auto;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 68px;
    }

    @media (min-width: 1415px) {
      width: clamp(700px, 53vw, 960px);
    }

    @media (min-width: 992px) and (max-width: 1415px) {
      margin: 0 0 168px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 335px;
      right: -370px;
      width: 370px;
      height: 190px;
      background-image: url("../images/flex-delivery/step-arrow-1.svg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: 992px) {
        display: none;
      }

      @media (min-width: 992px) and (max-width: 1415px) {
        bottom: -66px;
        right: 50px;
        transform: rotate(43deg);
      }
    }

    .flex_box_mobile_img {
      width: 182.26px;
      height: 350px;
      margin-bottom: 36px;
      @media (max-width: 430px) {
        width: 100px;
        height: 200px;
      }
      @media (min-width: 992px) {
        display: none;
      }
    }

    .flex_box_img_1 {
      width: auto;
      height: auto;
      position: absolute;
      @media (max-width: 992px) {
        display: none;
      }
    }
    .delivery_about_box {
      position: relative;
      width: 538px;
      margin: 200px 40px 0 0;

      @media (min-width: 1415px) and (max-width: 1550px) {
        margin: 150px 30px 0 0;
      }

      @media (max-width: 992px) {
        margin: 0;
        width: clamp(300px, 50vw, 538px);
      }

      @media (min-width: 1415px) {
        width: clamp(450px, 30vw, 538px);
      }

      .number {
        font-weight: 400;
        font-size: 60px;
        line-height: 67px;
        letter-spacing: 0.01em;
        color: #ffffff;
        margin: 0 0 8px;

        @media (max-width: 992px) {
          color: #5f26d9;
          font-size: clamp(16px, 8vw, 60px);
          line-height: clamp(32px, 8vw, 67px);
        }
      }
      .box_title {
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        letter-spacing: 0.01em;
        color: #ffffff;
        margin: 0 0 24px;
        @media (max-width: 992px) {
          color: #5f26d9;
          font-size: clamp(16px, 8vw, 40px);
          line-height: clamp(32px, 8vw, 54px);
        }
      }
      .box_about {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #ffffff;
        @media (max-width: 992px) {
          color: #5f26d9;
          font-size: clamp(1px, 6.5vw, 24px);
        }
      }
    }
  }
  // 2
  .delivery_flex_box_2 {
    width: 1090px;
    height: 802px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -460px -135px 0 auto;

    @media (max-width: 992px) {
      width: auto;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 68px;
    }

    @media (min-width: 1415px) {
      width: clamp(900px, 67vw, 1090px);
    }

    @media (min-width: 992px) and (max-width: 1415px) {
      margin: 0 0 168px auto;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -165px;
      left: 100px;
      width: 142px;
      height: 135px;
      background-image: url("../images/flex-delivery/step-arrow-2.svg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: 992px) {
        display: none;
      }

      @media (min-width: 1415px) and (max-width: 1730px) {
        left: 163px;
      }

      @media (min-width: 992px) and (max-width: 1415px) {
        bottom: -118px;
        right: 214px;
        left: inherit;
        transform: rotate(313deg);
      }
    }

    .delivery_about_box {
      margin: 270px 0 0 75px;

      @media (min-width: 1415px) and (max-width: 1544px) {
        margin: 160px 0 0 17px;
      }

      @media (max-width: 992px) {
        margin: 0;
      }
    }
  }

  // 3

  .delivery_flex_box_3 {
    width: 1052px;
    height: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -160px 0 0 -60px;

    @media (max-width: 992px) {
      width: auto;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 68px;
    }

    @media (min-width: 992px) and (max-width: 1415px) {
      margin: 0 0 168px 0;
    }

    @media (min-width: 1415px) {
      width: clamp(800px, 55vw, 1052px);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -232px;
      right: 93px;
      width: 325px;
      height: 295px;
      background-image: url("../images/flex-delivery/step-arrow-3.svg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;

      @media (max-width: 992px) {
        display: none;
      }

      @media (min-width: 992px) and (max-width: 1415px) {
        bottom: -137px;
        right: inherit;
        left: 2px;
        transform: rotate(44deg);
      }
    }

    .delivery_about_box {
      margin: 0 0 0 340px;
      @media (max-width: 992px) {
        margin: 0;
      }

      @media (min-width: 1415px) and (max-width: 1544px) {
        margin: 0 0 0 270px;
      }
    }
  }

  // 4

  .delivery_flex_box_4 {
    position: relative;
    display: flex;
    width: 990px;
    height: 860px;
    justify-content: center;
    align-items: center;
    margin: -377px -30px 0 auto;

    @media (max-width: 992px) {
      width: auto;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    &::before {
      content: "";
      display: none;
    }

    @media (min-width: 992px) and (max-width: 1415px) {
      margin: 0 0 0 auto;
    }

    @media (min-width: 1415px) {
      width: clamp(700px, 55vw, 990px);
    }

    .delivery_about_box {
      margin: 0px 0 0 146px;

      @media (max-width: 992px) {
        margin: 0;
      }
    }
  }
}
